.add-option-error {
  color: white;
  font-style: italic;
  margin: $m-size 0 0 0;
  padding: $s-size $m-size 0 $m-size;
}

.add-option {
  display: flex;
  flex-direction: column;
  padding: $m-size;
}

.add-option__div {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  label {
    margin-right: $s-size;
  }
  button {
    width: 100%;
  }
}

.add-option__input {
  background: $dark-blue;
  color: white;
  border: none;
  border-bottom: 0.3rem solid darken($dark-blue, 10%);
  flex-grow: 1;
  margin: 0 0 $s-size 0;
  padding: $s-size;
}

@media (min-width: $desktop-breakpoint) {
  .add-option {
    flex-direction: row;
    justify-content: center;
  }

  .add-option__div {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    label {
      margin-bottom: $s-size;
    }
  }

  .add-option__input {
    margin: 0 $s-size 0 0;
  }
}
