// Colors
$off-black: #2c2c2e;
$off-white: white;
$dark-blue: #3a3a3c;
$purple: #5e5ce6;
$blue: #636366;
$light-blue: #828293;

// spacing
$s-size: 0.8rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
